<script>
    import TraceSelector from "./TraceSelector.svelte";

    export let options;
    let value;
    let radiusSlider = 0.25;

    onSlide();

    function onSlide() {
        value =
            Math.round(
                ((4 * (Math.exp(radiusSlider) - 1)) / (Math.E - 1)) * 1000
            ) / 1000;
        updateOptions();
    }

    function onValueUpdate() {
        if (value <= 0) {
            value = 0;
        }
        radiusSlider = Math.log((value * (Math.E - 1)) / 4 + 1);
        updateOptions();
    }

    function updateOptions() {
        options = { radius: value };
    }
</script>

<TraceSelector />

<span class="option-label">Radius:</span>
<div class="groupped-control">
    <input
        type="range"
        bind:value={radiusSlider}
        on:change={onSlide}
        min="0.05"
        max="1"
        step="0.05"
    />
    <input class="w-12" type="number" bind:value on:change={onValueUpdate} />
</div>
