<script>
    import TraceSelector from "./TraceSelector.svelte";

    export let options;
    let slider = 0.25;
    let value;
    onSlide();

    function onSlide() {
        const _val = Math.pow((2 * (Math.exp(slider) - 1)) / (Math.E - 1), 2);
        value = Math.round(_val * 1000) / 1000;
        updateOptions();
    }

    function onValueUpdate() {
        if (value <= 0) {
            value = 0;
        }
        slider = Math.log((Math.sqrt(value) * (Math.E - 1)) / 2 + 1);
        updateOptions();
    }

    function updateOptions() {
        options = { variance: value };
    }
</script>

<TraceSelector />

<span class="option-label">Variance:</span>
<div class="groupped-control">
    <input
        type="range"
        bind:value={slider}
        on:change={onSlide}
        min="0.05"
        max="1"
        step="0.05"
    />
    <input class="w-12" type="number" bind:value on:change={onValueUpdate} />
</div>
