<script>
    import { selectedTrace } from "./store.js";
    import { traces } from "./store.js";
</script>

<span class="option-label">Trace: </span>
<select bind:value={$selectedTrace}>
    {#each $traces as opt, i}
        <option value={i}>{opt}</option>
    {/each}
</select>
