<style global lang="postcss">
    @import "./draw-tools.css";
</style>

<script>
    import { selectedTrace, traces } from "./DrawTools/store.js";
    import OptionsToolGaussian from "./DrawTools/OptionsToolGaussian.svelte";
    import OptionsToolUniform from "./DrawTools/OptionsToolUniform.svelte";
    import OptionsToolSingle from "./DrawTools/OptionsToolSingle.svelte";
    import OptionsToolErase from "./DrawTools/OptionsToolErase.svelte";
    import { DrawDataPlotly, TOOLS } from "draw-data-plotly/DrawDataPlotly";
    import { onMount } from "svelte";

    const drawModes = {
        single: {
            name: "Single",
            icon: TOOLS["single"].icon,
            description: "Create single points by clicking on the plot.",
        },
        gaussian: {
            name: "Gaussian",
            icon: TOOLS["gaussian"].icon,
            description:
                "Randomly sample a bunch of points from a Gaussian distribution.",
        },
        uniform: {
            name: "Uniform",
            icon: TOOLS["uniform"].icon,
            description:
                "Randomly sample a bunch of points from a Uniform distribution.",
        },
        erase: {
            name: "Erase",
            icon: TOOLS["erase"].icon,
            description:
                "Select points (click and drag) on the plot to remove them.",
        },
    };

    export let plot;
    let enabled;
    let enabledCheckbox = true;
    let controller;
    let selectedDrawMode = "single";
    const toolOptions = {
        single: {},
        gaussian: {},
        uniform: {},
        erase: {},
    };

    $: drawTool = {
        tool: selectedDrawMode,
        opts: Object.assign(
            { trace: $selectedTrace },
            toolOptions[selectedDrawMode]
        ),
    };

    $: {
        if (controller && drawTool && enabled) {
            controller.setTool(drawTool);
            refreshTraceNames();
        }
    }

    onMount(() => {
        controller = new DrawDataPlotly(plot);
        enabledCheckbox = enabled = controller.isEnabled();
    });

    function refreshTraceNames() {
        $traces = plot.data.map((trace, i) =>
            trace.name ? trace.name : "trace " + i
        );
    }

    function onChangeEnabled() {
        enabledCheckbox ? controller.enable() : controller.disable();
        enabledCheckbox = enabled = controller.isEnabled();
    }
</script>

<div class="flex flex-col bg-gray-50 p-1 h-full">
    <h3 class="flex-none text-2xl font-medium">
        Edit data <input
            type="checkbox"
            bind:checked={enabledCheckbox}
            on:change={onChangeEnabled}
        />
    </h3>
    {#if enabled}
        <span class="label flex-none">Tools</span>
        <div
            class="flex-none p-1 flex flex-row auto-cols-max gap-1 border-solid border-0 border-b border-gray-400"
        >
            {#each Object.entries(drawModes) as [id, mode]}
                <button
                    on:click={() => (selectedDrawMode = id)}
                    class="btn w-8 h-8"
                    title={mode.name}
                    class:active={selectedDrawMode == id}
                >
                    <img class="m-auto w-1/2" alt={mode.name} src={mode.icon} />
                </button>
            {/each}
        </div>

        <span class="label flex-none">Options</span>
        <div class="my-1 p-1 flex-1 overflow-auto">
            {#if selectedDrawMode == "single"}
                <OptionsToolSingle bind:options={toolOptions.single} />
            {:else if selectedDrawMode == "gaussian"}
                <OptionsToolGaussian bind:options={toolOptions.gaussian} />
            {:else if selectedDrawMode == "uniform"}
                <OptionsToolUniform bind:options={toolOptions.uniform} />
            {:else if selectedDrawMode == "erase"}
                <OptionsToolErase bind:options={toolOptions.erase} />
            {/if}
        </div>

        {#if drawModes[selectedDrawMode].description}
            <span class="label flex-none">Description</span>
            <div class="h-12 overflow-auto p-1 text-xs text-gray-800 flex-none">
                {drawModes[selectedDrawMode].description}
            </div>
        {/if}
    {/if}
</div>
