/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;
* {
	box-sizing: border-box;
}

.btn {
	@apply p-0 rounded cursor-pointer border-none bg-gray-200 hover:bg-blue-100;
}

.btn.active {
	@apply bg-green-100 shadow-inner;
}

.label {
	@apply block text-xs text-gray-600 tracking-widest;
}

.option-label {
	@apply block text-xs font-bold font-sans;
}

.groupped-control {
	@apply flex flex-row flex-wrap items-center;
}