<script>
    import { onMount } from "svelte";
    import DrawTools from "./components/DrawTools.svelte";

    let plot;
    let plotInitialized = false;
    let dataStr = "";

    const plotData = ["A", "B", "C", "D", "E"].map((name) => ({
        x: [],
        y: [],
        name: "Class " + name,
        mode: "markers",
        type: "scatter",
    }));

    const plotLayout = {
        margin: { t: 0, r: 0, b: 48, l: 48 },
        legend: {
            x: 1,
            xanchor: "right",
            borderwidth: 1,
            bordercolor: "silver",
        },
        xaxis: { type: "linear", range: [-2.5, 2.5] },
        yaxis: { type: "linear", range: [-2.5, 2.5] },
        dragmode: "pan",
    };

    const plotConfig = { responsive: true };

    onMount(() => {
        Plotly.newPlot(plot, plotData, plotLayout, plotConfig).then(() => {
            plotInitialized = true;
        });
    });

    function print() {
        if (!plot) {
            return;
        }
        dataStr = JSON.stringify(
            plot.data.filter((t) => t.x.length),
            null,
            2
        );
    }
</script>

<div class="max-w-screen-xl mx-auto">
    <h1>Dataset doodler</h1>

    <div class="flex">
        <div class="flex-none w-56">
            {#if plotInitialized}
                <!-- <data-draw-plotly-gui plot={plot}></data-draw-plotly-gui> -->
                <DrawTools bind:plot />
            {/if}
        </div>

        <div class="flex-1">
            <div bind:this={plot} style="height:500px; width: 100%;" />
        </div>
    </div>

    <button class="my-2" on:click={print}>Print</button>

    <textarea class="w-full h-48">{dataStr}</textarea>
</div>

<style global lang="postcss">
    @import "./demo.css";
</style>
